.form-content {
	background: #e5e5e5;
	padding: 20px 0 100px 0;
	border-bottom: 1px solid #ccc;
	.container {
		.wraper-form-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 50px 1fr 1fr 1fr;
			column-gap: 115px;
			.form-content-title {
				grid-row: 1/2;
				grid-column: 1/2;
				.form-content-header {
					font-weight: normal;
					font-size: 28px;
					color: rgba(0, 0, 0, 0.9);
				}
			}
			.form-content-block {
				grid-row: 2/5;
				grid-column: 1/2;
				.form-content-item:nth-child(1) {
					margin: 20px 0 0 0;
					display: flex;
					align-items: center;
				
					.form-content-element {
						position: relative;
						padding: 5px;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						border: 1px solid rgba(222, 195, 119, 0.75);
					}
					.form-element-first::after {
						content: '1';
						color: rgba(222, 195, 119, 0.75);
						font-size: 25px;
						font-weight: 700;
						position: absolute;
						top: 16px;
						left: 23px;
					}
					.form-content-block-text {
						width: 380px;
						margin: 0 0 0 40px;
						.form-content-block-paragraph {
							font-weight: normal;
							font-size: 15px;
							line-height: 25px;
							color: rgba(0, 0, 0, 0.8);
						}
					}
				}
				.form-content-item:nth-child(2) {
					margin: 20px 0 0 0;
					display: flex;
					align-items: center;
					.form-content-element {
						position: relative;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						border: 1px solid rgba(222, 195, 119, 0.75);
					}
					.form-element-second::after {
						content: '2';
						color: rgba(222, 195, 119, 0.75);
						font-size: 25px;
						font-weight: 700;
						position: absolute;
						top: 16px;
						left: 23px;
					}
					.form-content-block-text {
						width: 380px;
						margin: 0 0 0 40px;
						.form-content-block-paragraph {
							font-weight: normal;
							font-size: 15px;
							line-height: 25px;
							color: rgba(0, 0, 0, 0.8);
						}
					}
				}
				.form-content-item:nth-child(3) {
					margin: 20px 0 0 0;
					display: flex;
					align-items: center;
					.form-content-element {
						display: none;
					}
					.form-content-block-text {
						.form-content-block-paragraph {
							font-weight: normal;
							font-size: 15px;
							line-height: 25px;
							color: rgba(0, 0, 0, 0.8);
						}
					}
				}
			}
			.form-wraper {
				grid-row: 1/5;
				grid-column: 2/3;
				background: #FFFFFF;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
				padding: 40px;
				.form-name, .form-phone {
					font-size: 13px;
					color: rgba(0, 0, 0, 0.5)
				}
				.form-phone {
					margin: 20px 0 0 0;
				}
				input[name="surname"], input[name="phone"] {
					margin: 20px 0 0 0;
					height: 25px;
					width: 100%;
					border: none;
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				}
				input[name="surname"]:focus {
					outline: none;
				}
				input[name="phone"]:focus {
					outline: none;
				}
				.form-text-confidence {
					font-weight: 300;
					font-size: 13px;
					color: rgba(0, 0, 0, 0.5);
					margin: 30px 0 0 0;
					.form-reference {
						color: #7a7676
					}
				}
				.form-submit-button {
					margin: 20px 0 0 0;
					.form-button {
						width: 100%;
					} 
				}
			}
		}
	}
}
@media (max-width: 1250px) {
	.form-content {
		.container {
			.wraper-form-content {
				column-gap: 50px;
				.form-content-block {
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 330px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1110px) {
	.form-content {
		.container {
			.wraper-form-content {
				column-gap: 50px;
				.form-content-block {
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 300px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.form-content {
		padding: 0 0 50px 0;
		.container {
			.wraper-form-content {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 50px 1fr 1fr 1fr;
				.form-content-title {
					margin: 0 auto;
				}
				.form-content-block {
					margin: 0 auto 50px auto;
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 500px;
						}
					}
					.form-content-item:nth-child(3) {
						.form-content-block-text {
							width: 600px;
						}
					}
				}
				.form-wraper {
					width: 70%;
					margin: 0 auto;
				}
			}
		}
	}
}
@media (max-width: 708px) {
	.form-content {
		padding: 0 0 50px 0;
		.container {
			.wraper-form-content {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 50px 1fr 1fr 1fr;
				.form-content-title {
					margin: 0 auto;
				}
				.form-content-block {
					margin: 0 auto 50px auto;
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 400px;
						}
					}
					.form-content-item:nth-child(3) {
						.form-content-block-text {
							width: 500px;
						}
					}
				}
				.form-wraper {
					width: 100%;
					margin: 0 auto;
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.form-content {
		.container {
			width: 95%;
			.wraper-form-content {
				.form-content-block {
					margin: 0 auto 30px auto;
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 300px;
						}
					}
					.form-content-item:nth-child(3) {
						.form-content-block-text {
							width: 400px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 426px) {
	.form-content {
		.container {
			.wraper-form-content {
				.form-content-block {
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 250px;
						}
					}
					.form-content-item:nth-child(3) {
						.form-content-block-text {
							width: 350px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 376px) {
	.form-content {
		.container {
			.wraper-form-content {
				.form-content-block {
					.form-content-item:nth-child(1), .form-content-item:nth-child(2) {
						.form-content-block-text {
							width: 200px;
						}
					}
					.form-content-item:nth-child(3) {
						.form-content-block-text {
							width: 300px;
						}
					}
				}
			}
		}
	}
}