.directions-slider {
  background: #e5e5e5;
  .container {
    .directions-slider-wraper {
      position: relative;
      height: 460px;
      .directions-slides {
        height: 575px;
        z-index: 444;
      }
    }
    .arrow-directions-next,
    .arrow-directions-prew {
      position: absolute;
    }
    .arrow-directions-next {
      bottom: 15%;
      right: -5%;
    }
    .arrow-directions-prew {
      bottom: 15%;
      left: -5%;
    }
  }
}
@media (max-width: 1300px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 400px;
      }
    }
  }
}
@media (max-width: 1150px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 360px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 320px;
      }
    }
  }
}
@media (max-width: 834px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 260px;
      }
    }
  }
}
@media (max-width: 768px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 240px;
      }
    }
  }
}
@media (max-width: 650px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 200px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .directions-slider {
    .container {
      width: 100%;
      .directions-slider-wraper {
        height: 330px;
      }
      .arrow-directions-next {
        bottom: 5%;
        right: 10%;
      }
      .arrow-directions-prew {
        bottom: 5%;
        left: 80%;
      }
    }
  }
}
@media (max-width: 420px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 250px;
      }
    }
  }
}
@media (max-width: 390px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 230px;
      }
    }
  }
}
@media (max-width: 370px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 220px;
      }
    }
  }
}
@media (max-width: 330px) {
  .directions-slider {
    .container {
      .directions-slider-wraper {
        height: 200px;
      }
    }
  }
}
