
	.escort {
		background: #e5e5e5;
		padding: 40px 0 40px 0;
		.container {
			.wraper-escort {
				background: #fff;
    			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    			display: grid;
    			grid-auto-rows: auto;
				grid-template-columns: 1fr 1fr;
				.escort-content {
					grid-row: 1/2;
					grid-column: 1/2;
					margin: 50px auto 50px 50px;
					.escort-title {
						font-weight: normal;
    					font-size: 28px;
    					line-height: 40px;
					}
					.escort-paragraph {
						margin: 30px 0 0 0;
    					font-weight: 300;
    					font-size: 15px;
    					line-height: 25px;
    					color: rgba(0, 0, 0, 0.8);
					}
				}
				.escort-images {
					grid-row: 1/2;
					grid-column: 2/3;
					background: url(../img/escort.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					padding: 0 200px;
				}
			}
		}
	}
@media (max-width: 1310px) {
	.escort {
		.container {
			.wraper-escort {
				.escort-content {
					margin: 30px auto 30px 30px;
				}
			}
		}
	}
}
@media (max-width: 1250px) {
	.escort {
		.container {
			.wraper-escort {
				grid-template-columns: 1fr;
				.escort-content {
					grid-row: 1/2;
					grid-column: 1/2;
					padding: 10px;
					margin: 50px auto;
				}
				.escort-images {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.escort {
		.container {
			width: 95%;
			.wraper-escort {
				.escort-content {
					margin: 30px auto;
				}
			}
		}
	}
}
