
	.more-prime {
		background: #e5e5e5;
		padding: 80px 0;
		.container {
			.more-prime-title {
				margin: 0 0 30px 0;
				.more-prime-header {
					font-weight: normal;
					font-size: 28px;
					color: rgba(0, 0, 0, 0.9);
				}
			}
			.wraper-more-prime {
				display: grid;
				column-gap: 30px;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: 1fr;
				.item-more-prime {
					background: #fff;
					box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
					border-radius: 5px;
					display: grid;
					grid-template-rows: 200px 125px ;
					justify-items: center;
					.image-more-prime {
						margin: 40px 0 0 0;
						width: 120px;
						height: 120px;
						border-radius: 50%;
						border: 3px solid rgba(0, 0, 0, 0.1);
						.prime-img {
							margin: 25px 0 0 25px;
						}
					}
					.item-more-prime-title {
						padding: 0 10px;
						.more-prime-text {
							display: inline-block;
							font-weight: normal;
							font-size: 16px;
							line-height: 25px;
							text-align: center;
							color: rgba(0, 0, 0, 0.75);
						}
					}
				}
			}
			.more-prime-horizontal-block {
				position: relative;
				margin: 40px 0 0 0;
				background: #fff;
				padding: 40px;
				.triangle-prime::after {
					content: ''; 
					position: absolute;
					top: 0;
					right: 0;
					border: 35px solid transparent;
					border-top: 35px solid  #DEC377;
					border-right: 35px solid  #DEC377;
				}
				.more-prime-paragraph {
					font-weight: 300;
					font-size: 15px;
					line-height: 25px;
					color: rgba(0, 0, 0, 0.8);
				}
			}
		}
	}

@media (max-width: 1024px) {
	.more-prime {
		background: #e5e5e5;
		padding: 60px 0;
		.container {
			width: 90%;
			.more-prime-title {
				margin: 0 0 30px 0;
				.more-prime-header {
					font-weight: normal;
					font-size: 28px;
					color: rgba(0, 0, 0, 0.9);
				}
			}
			.wraper-more-prime {
				display: grid;
				grid-gap: 30px;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: 1fr 1fr;
				.item-more-prime:nth-child(1) {
					grid-row: 1/2;
					grid-column: 1/3;
				}
				.item-more-prime:nth-child(2) {
					grid-row: 1/2;
					grid-column: 3/5;
				}
				.item-more-prime:nth-child(3) {
					grid-row: 2/3;
					grid-column: 1/3;
				}
				.item-more-prime:nth-child(4) {
					grid-row: 2/3;
					grid-column: 3/5;
				}
				.item-more-prime {
					background: #fff;
					box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
					border-radius: 5px;
					display: grid;
					grid-template-rows: 150px 75px ;
					justify-items: center;
					.image-more-prime {
						margin: 20px 0 0 0;
						width: 120px;
						height: 120px;
						border-radius: 50%;
						border: 3px solid rgba(0, 0, 0, 0.1);
						.prime-img {
							margin: 25px 0 0 25px;
						}
					}
					.item-more-prime-title {
						padding: 0 10px;
						.more-prime-text {
							display: inline-block;
							font-weight: normal;
							font-size: 16px;
							line-height: 25px;
							text-align: center;
							color: rgba(0, 0, 0, 0.75);
						}
					}
				}
			}
			.more-prime-horizontal-block {
				position: relative;
				margin: 40px 0 0 0;
				background: #fff;
				box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
				padding: 40px;
				.triangle-prime::after {
					content: ''; 
					position: absolute;
					top: 0;
					right: 0;
					border: 35px solid transparent;
					border-top: 35px solid  #DEC377;
					border-right: 35px solid  #DEC377;
				}
				.more-prime-paragraph {
					font-weight: 300;
					font-size: 15px;
					line-height: 25px;
					color: rgba(0, 0, 0, 0.8);
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.more-prime {
		.container {
			.wraper-more-prime {
				.item-more-prime {
					grid-template-rows: 150px 95px ;
				}
			}
		}
	}
}
@media (max-width: 625px) {
	.more-prime {
		.container {
			.wraper-more-prime {
				.item-more-prime {
					grid-template-rows: 150px 125px ;
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.more-prime {
		.container {
			width: 95%;
		}
	}
}
@media (max-width: 480px) {
	.more-prime {
		.container {
			.wraper-more-prime {
				display: grid;
				column-gap: 30px;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(4, 1fr);
				.item-more-prime:nth-child(1) {
					grid-row: 1/2;
					grid-column: 1/2;
				}
				.item-more-prime:nth-child(2) {
					grid-row: 2/3;
					grid-column: 1/2;
				}
				.item-more-prime:nth-child(3) {
					grid-row: 3/4;
					grid-column: 1/2;
				}
				.item-more-prime:nth-child(4) {
					grid-row: 4/5;
					grid-column: 1/2;
				}
				.item-more-prime {
					grid-template-rows: 150px 75px ;
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.more-prime {
		.container {
			.wraper-more-prime {
				.item-more-prime {
					grid-template-rows: 150px 95px ;
				}
			}
		}
	}
}