.main {
	position: relative;
	background: #e5e5e5;
	.wraper-main {
		.container {
			.main-content {
				display: grid;
				grid-template: 650px / repeat(10, 1fr);
				position: relative;
				.main-title {
					grid-row: 1/2;
					grid-column: 1/6;
					position: absolute;
					top: 25%;
					left: 0;
					.main-header {
						font-weight: normal;
						font-size: 40px;
						color: rgba(0, 0, 0, 0.9);
						margin: 0 0 30px 0;
					}
				}
				.main-paragraph {
					grid-row: 1/2;
					grid-column: 1/6;
					font-weight: 300;
					font-size: 15px;
					color: rgba(0, 0, 0, 0.8);
					position: absolute;
					top: 43%;
					left: 0;
				}
				.btn-main {
					grid-row: 1/2;
					grid-column: 1/6;
					position: absolute;
					bottom: 40%;
					left: 0;
				}
				.arrow-main-next,
				.arrow-main-prew {
					position: absolute;
				}
				.arrow-main-next {
					bottom: 19%;
					left: 7%;
				}
				.arrow-main-prew {
					bottom: 19%;
					left: 2%;
				}
			}
		}
	}
}
@media (max-width: 1440px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 487px / repeat(10, 1fr);
					.main-title {
						.main-header {
							margin: 0 0 25px 0;
						}
					}
					.main-paragraph {
						top: 48%;
					}
					.btn-main {
						bottom: 30%;
					}
				}
			}
		}
	}
}
@media (max-width: 1300px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 447px / repeat(10, 1fr);
					.main-title {
						.main-header {
							font-size: 30px;
							margin: 0 0 25px 0;
						}
					}
					.main-paragraph {
						top: 44%;
					}
					.btn-main {
						bottom: 35%;
					}
					.arrow-main-next {
						bottom: 25%;
					}
					.arrow-main-prew {
						bottom: 25%;
					}
				}
			}
		}
	}
}
@media (max-width: 1110px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 383px / repeat(10, 1fr);
					.main-title {
						top: 20%;
						.main-header {
							font-size: 30px;
							margin: 0 0 25px 0;
						}
					}
					.btn-main {
						bottom: 30%;
					}
					.arrow-main-next {
						bottom: 18%;
					}
					.arrow-main-prew {
						bottom: 18%;
					}
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 354px / repeat(10, 1fr);
					.main-title {
						top: 20%;
						.main-header {
							font-size: 30px;
							margin: 0 0 25px 0;
						}
					}
					.btn-main {
						bottom: 20%;
					}
					.arrow-main-next {
						left: 53%;
						bottom: 10%;
					}
					.arrow-main-prew {
						left: 46%;
						bottom: 10%;
					}
				}
			}
		}
	}
}
@media (max-width: 950px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 329px / repeat(10, 1fr);
					.main-title {
						.main-header {
							font-size: 26px;
							margin: 0 0 20px 0;
						}
					}
					.arrow-main-next {
						bottom: 13%;
					}
					.arrow-main-prew {
						bottom: 13%;
					}
				}
			}
		}
	}
}
@media (max-width: 834px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 282px / repeat(10, 1fr);
					.main-title {
						top: 20%;
						.main-header {
							font-size: 30px;
							margin: 0 0 25px 0;
						}
					}
					.btn-main {
						bottom: 20%;
					}
					.arrow-main-next {
						left: 53%;
						bottom: 10%;
					}
					.arrow-main-prew {
						left: 46%;
						bottom: 10%;
					}
				}
			}
		}
	}
}
@media (max-width: 850px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 295px / repeat(10, 1fr);
					.main-title {
						top: 20%;
						.main-header {
							font-size: 25px;
							margin: 0 0 25px 0;
						}
					}
					.btn-main {
						bottom: 15%;
					}
					.arrow-main-next {
						left: 53%;
						bottom: 10%;
					}
					.arrow-main-prew {
						left: 46%;
						bottom: 10%;
					}
				}
			}
		}
	}
}
@media (max-width: 800px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 278px / repeat(10, 1fr);
					.main-title {
						top: 20%;
						.main-header {
							font-size: 25px;
							margin: 0 0 25px 0;
						}
					}
					.btn-main {
						bottom: 10%;
					}
					.arrow-main-next {
						left: 53%;
						bottom: 10%;
					}
					.arrow-main-prew {
						left: 46%;
						bottom: 10%;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 267px / repeat(10, 1fr);
					.main-title {
						top: 17%;
						.main-header {
							font-size: 22px;
							margin: 0 0 20px 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 350px / repeat(10, 1fr);
					.main-title {
						top: 27%;
						.main-header {
							font-size: 20px;
							margin: 0 0 20px 0;
						}
					}
					.main-paragraph {
						top: 45%;
					}
					.btn-main {
						bottom: 10%;
					}
					.arrow-main-next {
						left: 55%;
						bottom: -12%;
					}
					.arrow-main-prew {
						left: 45%;
						bottom: -12%;
					}
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.main {
		.wraper-main {
			.container {
				width: 95%;
				.main-content {
					grid-template: 290px / repeat(10, 1fr);
				}
			}
		}
	}
}
@media (max-width: 495px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 290px / repeat(10, 1fr);
					.main-title {
						top: 35%;
						grid-column: 1/8;
						.main-header {
							font-size: 20px;
							margin: 0 0 20px 0;
						}
					}
					.main-paragraph {
						top: 45%;
					}
					.btn-main {
						bottom: 10%;
					}
					.arrow-main-next {
						left: 55%;
						bottom: -13%;
					}
					.arrow-main-prew {
						left: 45%;
						bottom: -13%;
					}
				}
			}
		}
	}
}
@media (max-width: 420px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 290px / repeat(10, 1fr);
					.main-title {
						grid-column: 1/7;
						top: 25%;
					}
					.arrow-main-next {
						bottom: -14%;
					}
					.arrow-main-prew {
						bottom: -14%;
					}
				}
			}
		}
	}
}
@media (max-width: 390px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 290px / repeat(10, 1fr);
				}
			}
		}
	}
}
@media (max-width: 365px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 290px / repeat(10, 1fr);
				}
			}
		}
	}
}
@media (max-width: 330px) {
	.main {
		.wraper-main {
			.container {
				.main-content {
					grid-template: 330px / repeat(10, 1fr);
					.main-title {
						grid-column: 1/6;
					}
					.main-paragraph {
						top: 50%;
					}
					.btn-main {
						bottom: 5%;
					}
					.arrow-main-next {
						bottom: -11%;
					}
					.arrow-main-prew {
						bottom: -11%;
					}
				}
			}
		}
	}
}
