
.navigation {

	.container {
		.wraper-nav-content {
			padding: 35px 0 20px 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr) 20px;
			align-items: center;
			.logo-wraper{
				grid-column: 1/4;
			}
			.nav {
				grid-column: 4/13;
				.nav-wraper {
					display: flex;
					justify-content: flex-end;
					.nav-links {
						margin: 0 40px 0 0;
						a {
							font-weight: 500;
							font-size: 14px;
							color: rgba(0, 0, 0, 0.75);
						}
					}
				}
			}
			.search {
				grid-column: 13/14;
				justify-self: end;
				.btn-search {
					cursor: pointer;
					border: none;
					background: transparent;
				}
				.btn-search:focus {
					outline: none;
				}
			}
			.menu-media {
				grid-column: 5/6;
				display: none;
				.media-element {
					font-size: 30px;
				}
			}
		}
	}
}		
@media (max-width: 1024px) {
.navigation {
	.container {
		.wraper-nav-content {
			padding: 20px 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr) 20px;
			align-items: center;
			.logo-wraper{
				grid-column: 1/4;
			}
			.nav {
				display: none;
			}
			.menu-media {
				display: inline-block !important;
				grid-column: 12/13 !important;
				grid-row: 1/2;
				justify-self: start;
				.media-element::before {
					content: '\2807';
					font-size: 2rem;
					color: #4c4c4c;
					margin: 0 0 10px 0;
					
				}
			}
			.search {
				grid-column: 13/14;
				justify-self: end;
				.btn-search {
					border: none;
					background: transparent;
				}
				.btn-search:focus {
					outline: none;
				}
			}
			.nav-open {
				position: relative;
				.nav-wraper {
					width: 45vw;
					height: 285px;
					text-align: center;
					background: rgb(255, 255, 255);
					box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
					position: fixed;
					top: 150px;
					right: 50px;
					z-index: 555;
					.nav-links {
						padding:15px 0;
						a {
							font-weight: 500;
							font-size: 14px;
							color: rgba(0, 0, 0, 0.75);
						}
					}
				}
			}
		}
	}
}	
}
@media (max-width: 768px) {
.navigation {
	.container {
		.wraper-nav-content {
			padding: 10px 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr) 20px;
			align-items: center;
			.logo-wraper{
				grid-column: 1/4;
			}
			.nav {
				display: none;
			}
			.menu-media {
				display: block !important;
				grid-column: 12/13;
				grid-row: 1/2;
				justify-self: center;
				margin: 0 0 5px 0;
				.media-element::before {
					content: '\2807';
					font-size: 2rem;
					color: #4c4c4c;
				}
			}
			.search {
				grid-column: 13/14;
				justify-self: end;
				.btn-search {
					border: none;
					background: transparent;
				}
				.btn-search:focus {
					outline: none;
				}
			}
			.nav-open {
				position: relative;
				.nav-wraper {
					width: 41vw;
					height: 190px;
					background: rgb(255, 255, 255);
					box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
					position: fixed;
					top: 130px;
					right: 40px;
					z-index: 55;
					.nav-links {
						padding: 7px;
						a {
							font-weight: 500;
							font-size: 14px;
							color: rgba(0, 0, 0, 0.75);
						}
					}
				}
			}
		}	
	}
}
}
